table {
    border: solid 3px blue;
    padding: 10px;
}

input {
    width: 100%;
    height: 25px;
    text-align: right;
    font-size: 18pt;
}

button {
    font-size: 15pt;
    min-width: 50px;
    min-height: 50px;
    width: auto;
    height: auto;
}

td {
    padding: 5px;
    text-align: center;
}